.signup-sec {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/src/assets/images/bg-1.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}
@media (min-width: 1536px) {
  .container.custom {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
@media (min-width: 991px) {
  .container.custom {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.left-col {
  display: flex;
  background-color: rgb(2 132 199);
  height: 100%;
  width: 100%;
  padding: 1.75rem;
  flex-direction: column;
  border-radius: 10px 0px 0px 10px;
}
.left-col .header .logo {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
}
.left-col .body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 auto;
}
.left-col .body .title {
  font-size: 1.875rem;
  line-height: 1.25;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1rem;
}
.left-col .body .text-descrip {
  color: rgb(229 231 235);
  line-height: 1.625;
  font-weight: 400;
  margin-bottom: 0;
}
.right-col {
  display: flex;
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 1.75rem;
  flex-direction: column;
  border-radius: 0px 10px 10px 0px;
}
.right-col .header {
  text-align: center;
}
.right-col .header h2 {
  color: rgb(2 132 199);
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
.right-col .header .social-icons {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.right-col .header .social-icons .icon {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid #e5e7eb;
  color: #000;
}
.right-col .header .social-icons .icon .svg-inline--fa {
  width: 1rem;
  height: 1rem;
}
.right-col .header .social-icons .icon:hover {
  background-color: rgb(2 132 199);
  color: rgb(255 255 255);
}
.right-col .header p {
  line-height: 1.625;
  font-weight: 500;
  font-size: 0.875rem;
  margin: 0;
}
.right-col .body {
  margin-top: 2.5rem;
}
.right-col .body .form-control {
  color: rgb(107 114 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.625rem 1rem;
  border-color: rgb(209 213 219);
  border-left: 0px;
}
.right-col .body .input-group .input-group-text {
  color: rgb(2 132 199);
  background-color: #fff;
  padding: 0.625rem 1rem;
  border-right: 0px;
  padding-right: 0;
}
.right-col .body .input-group .last-child-text {
  border-right: 1px solid #dee2e6;
  padding-right: 1rem;
  border-left: 0px;
  padding-left: 0;
  cursor: pointer;
}
.right-col .body .input-group .last-child-input {
  border-right: 0;
}
